@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("../assets/fonts/PretendardVariable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iropke";
  font-style: normal;
  src: url("../assets/fonts/IropkeBatangM.woff") format("woff");
  font-display: swap;
}

@layer base {
  * {
    @apply font-pretendard;
  }
}
